@import '../../styling/token/token.scss';
@import '../../styling/mixin/breakpoint.scss';
@import '../../styling/mixin/font.scss';

.addtask {
  padding: 12px;
  background-color: #ffffff3a;
  font-size: 20px;
  border-radius: $radius-6;
  overflow: hidden;
  color: $color-white;
  letter-spacing: 1px;
  box-shadow: $shadow-elevation;
  &:hover {
    background-color: #ffffff5f;
  }
}

.formlist {
  width: 100%;
  &_input {
    letter-spacing: 0.5px;
    width: 100%;
    padding: $spacing-12;
    background-color: $color-primary-01;
    color: $color-white;
    border: none;
    font-size: 28px;
    border-radius: $radius-6;
    margin-bottom: $spacing-10;
    outline: 2px solid $color-primary-02;
  }
}

.button {
  width: 100%;
  display: flex;
  gap: $gap-6;
  &_cancel {
    width: 100%;
    background-color: $color-warning;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    &:hover {
      background-color: $color-warning-hover;
      cursor: pointer;
    }
  }
  &_save {
    width: 100%;
    background-color: $color-success;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    &:hover {
      background-color: $color-success;
      cursor: pointer;
    }
  }
  &_save_disabled {
    width: 100%;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    background-color: $color-disable;
    cursor: not-allowed;
    &:hover {
      background-color: $color-disable-hover;
    }
  }
}
