@import '../../styling/token/token.scss';
@import '../../styling/mixin/breakpoint.scss';
@import '../../styling/mixin/font.scss';
@import '../../styling/mixin/animation.scss';

.addtask {
  padding: 12px;
  background-color: $color-primary-01;
  font-size: 28px;
  border-radius: $radius-6;
  overflow: hidden;
  color: $color-white;
  letter-spacing: 0.8px;
  will-change: transform;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: $color-primary-01-hover;
    transform: translateY(-2px);
  }
}

.formlist {
  width: 100%;
  &_input {
    letter-spacing: 0.8px;
    width: 100%;
    padding: $spacing-12;
    background-color: $color-primary-01;
    color: $color-white;
    border: none;
    font-size: 28px;
    border-radius: $radius-6;
    margin-bottom: $spacing-10;
    outline: 2px solid $color-primary-02;
    letter-spacing: 0.8px;
    @include animation-fadein();
  }
}

.button {
  width: 100%;
  display: flex;
  gap: $gap-6;
  &_cancel {
    width: 100%;
    background-color: $color-primary-01;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    will-change: transform;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: $color-primary-01-hover;
      cursor: pointer;
      transform: translateY(-2px);
    }
  }
  &_save {
    width: 100%;
    background-color: $color-secondary-01;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    will-change: transform;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: $color-secondary-01-hover;
      cursor: pointer;
      transform: translateY(-2px);
    }
  }
  &_save_disabled {
    width: 100%;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    background-color: $color-disable;
    cursor: not-allowed;
    &:hover {
      background-color: $color-disable-hover;
    }
  }
}
