@import '../../styling/token/token.scss';
@import '../../styling/mixin/breakpoint.scss';
@import '../../styling/mixin/font.scss';

.list {
  display: flex;
  padding: $spacing-12;
  border-radius: $radius-6;
  border: 2px solid $color-primary-01;
  &_title {
    width: 100%;
    font-size: 30px;
    overflow-wrap: break-word;
    word-break: break-word;
    &.completed {
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      text-decoration-color: $color-primary-01;
    }
  }
  &:hover {
    border: 2px solid $color-white;
    .list {
      &_edit,
      &_execute {
        display: flex;
        align-self: flex-start;
        flex-shrink: 0;
      }
    }
  }
  &_edit {
    display: none;
    padding: $spacing-4;
    border-radius: $radius-6;
    margin-right: $spacing-4;
    background-color: $color-alert;
    // HERE
    border: 2px solid $color-white;
    &:hover {
      background-color: $color-alert-hover;
    }
  }
  &_execute {
    display: none;
    border-radius: $radius-6;
    flex-shrink: 0;
    border: 2px solid $color-white;
    overflow: hidden;
  }

  &_close {
    background-color: $color-warning;
    flex-shrink: 0;
    padding: $spacing-4;
    color: $color-white;
    &:hover {
      background-color: $color-warning-hover;
    }
  }
  &_done {
    background-color: $color-success;
    flex-shrink: 0;
    padding: $spacing-4;
    color: $color-white;
    &:hover {
      background-color: $color-success-hover;
    }
  }
}

.formlist {
  width: 100%;
  border-radius: $radius-6;
  &_input {
    width: 100%;
    padding: $spacing-12;
    border: none;
    font-size: 28px;
    color: $color-primary-01;
    border-radius: $radius-6;
    &:focus {
      outline: 2px solid $color-primary-01;
    }
  }
}
.button {
  width: 100%;
  display: flex;
  gap: $gap-6;
  &_cancel {
    width: 100%;
    background-color: $color-warning;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    &:hover {
      background-color: $color-warning-hover;
      cursor: pointer;
    }
  }
  &_save {
    width: 100%;
    background-color: $color-success;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 0.5px;
    &:hover {
      background-color: $color-success-hover;
      cursor: pointer;
    }
  }
  &_save_disabled {
    width: 100%;
    padding: $spacing-12;
    border-radius: $radius-6;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: $color-disable;
    cursor: not-allowed;
    &:hover {
      background-color: $color-disable-hover;
    }
  }
}
