@import '../../styling/token/token.scss';
@import '../../styling/mixin/breakpoint.scss';

.EggButton {
  display: flex;
  background-color: palegreen;
  border: 12px solid green;
  padding: 12px;
  border-radius: 99px;
  width: 100px;
}
