$color-white: #ffffff;
$color-primary-01: #eebb10;
$color-primary-02: #fadf12;
$color-primary-03: #fef9c6;
$color-secondary-01: #1a41e7;
$color-alert: #eebb10;
$color-alert-hover: #e0ad09;
$color-warning: #fa7953;
$color-warning-hover: #fb6235;
$color-success: #96ca0f;
$color-success-hover: #89bb07;
$color-disable: #737373;
$color-disable-hover: #515151;

$shadow-primary: 8px 8px 0 #edb80b;
$shadow-elevation: 0 4px 10px rgba(182, 12, 12, 0.25);
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$radius-6: 6px;
$radius-12: 12px;
$radius-99: 99px;
$gap-6: 6px;
$gap-10: 10px;
